<div class="container u-top-margin">
  <div class="card">
    <h3 class="card-header">Liste des hébergeurs et disponibilités générales</h3>
    <div class="card-block">
      <div class="card-text">
      <p>Ce tableau est construit de manière statique à partir des inscriptions des
      hébergeurs. Ceux-ci renseignent leurs disponibilités générales (les jours où ils sont d'habitude prêts à accueillir quelqu'un).</p>
      <p>Pour connaître les disponibilités effectives des hébergeurs chaque jour, il faut aller dans la <a href='/slots'>table des disponibilités du jour</a></p>
      </div>
    </div>
    <div class="card-block">
      <div class="card-text">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Actif?</th>
              <th>Nom</th>
              <th>GSM</th>
              <th># lits</th>
              <th>Adresse</th>
              <th>LUN</th>
              <th>MAR</th>
              <th>MER</th>
              <th>JEU</th>
              <th>VEN</th>
              <th>SAM</th>
              <th>DIM</th>
            </tr>
          </thead>
          <tbody>
            <% @volunteers.each do |volunteer| %>
            <tr>
              <th scope="row"><%= volunteer.active? %></th>
              <td><%= volunteer.nickname %></td>
              <td><%= volunteer.mobile_phone_number %></td>
              <td><%= volunteer.number_of_beds %></td>
              <td><%= volunteer.address %></td>
              <td><i class="fa <%= volunteer.available_mon ? 'fa-check u-text-success' : 'fa-times u-text-light' %>"></i></td>
              <td><i class="fa <%= volunteer.available_tue ? 'fa-check u-text-success' : 'fa-times u-text-light' %>"></i></td>
              <td><i class="fa <%= volunteer.available_wed ? 'fa-check u-text-success' : 'fa-times u-text-light' %>"></i></td>
              <td><i class="fa <%= volunteer.available_thu ? 'fa-check u-text-success' : 'fa-times u-text-light' %>"></i></td>
              <td><i class="fa <%= volunteer.available_fri ? 'fa-check u-text-success' : 'fa-times u-text-light' %>"></i></td>
              <td><i class="fa <%= volunteer.available_sat ? 'fa-check u-text-success' : 'fa-times u-text-light' %>"></i></td>
              <td><i class="fa <%= volunteer.available_sun ? 'fa-check u-text-success' : 'fa-times u-text-light' %>"></i></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<%= render 'volunteers/index/map', volunteers: @volunteers %>

<% content_for :footer_js do %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.4.2/b-html5-1.4.2/cr-1.4.1/fh-3.1.3/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.4.2/b-html5-1.4.2/cr-1.4.1/fh-3.1.3/datatables.min.js"></script>
  <script>
    $('.table').DataTable();
  </script>
<% end %>
