<div class="row">
  <div class="col-md-6 col-sm-12">
    <h4>Bienvenue sur le nouveau site</h4>
    <p>Suite à toutes les demandes, nous avons créé ce site</p>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Je m'inscris en tant que citoyen hébergeur</h4>
        <h6 class="card-subtitle mb-2 text-muted">Simple, rapide, et confidentiel</h6>
        <br>
        <p class="card-text">
        <%= render 'layouts/flash_messages', flash: flash %>
        <div class="form-group u-top-margin">


            <%= simple_form_for(@volunteer, html: { class: 'form-horizontal' }) do |f| %>

            <div class="form-group row">
              <%= f.label :first_name, 'Prénom', class: "col-sm-12 col-md-4 col-form-label" %>
              <div class="col-sm-12 col-md-8">
                <%= f.input :first_name, label: false, error: 'Username is mandatory, please specify one', class: "form-control"  %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :last_name, 'Nom', class: "col-sm-12 col-md-4 col-form-label" %>
              <div class="col-sm-12 col-md-8">
                <%= f.input :last_name, label: false, error: 'Username is mandatory, please specify one', class: "form-control"  %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :mobile_phone_number, 'N° de GSM', class: "col-sm-12 col-md-4 col-form-label" %>
              <div class="col-sm-12 col-md-8">
                <%= f.input :mobile_phone_number, label: false, error: 'Username is mandatory, please specify one', class: "form-control"  %>
              </div>
            </div>

            <div class="form-group row">
              <div class='col-sm-12 col-md-4 col-form-label' data-toggle="tooltip" data-placement="top" title="Merci d'inclure votre ville et votre code postal">
                Adresse <i>complète</i>
              </div>
              <div class="col-sm-12 col-md-8">
                <%= f.input :address, label: false, error: 'Username is mandatory, please specify one', class: "form-control"  %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :dummy, 'Disponibilités', class: "col-sm-12 col-md-4 col-form-label" %>
              <% [{value: 'mon', label: 'LUN'}, {value: 'tue', label: 'MAR'}, {value: 'wed', label: 'MER'}, {value: 'thu', label: 'JEU'}, {value: 'fri', label: 'VEN'}, {value: 'sat', label: 'SAM'}, {value: 'sun', label: 'DIM'}].each do |day| %>
                <% value = day[:value] %>
                <% label = day[:label] %>
                <div class="col-sm-1">
                  <%= f.label "available_#{value}".to_sym, label %>
                  <%= f.input_field "available_#{value}".to_sym, as: :boolean, boolean_style: :inline, class: "form-control", label: label  %>
                </div>
              <% end %>
            </div>

            <div class="form-group row">
              <%= f.label :number_of_beds, "Nombre de places", class: "col-sm-12 col-md-4 col-form-label" %>
              <div class="col-sm-12 col-md-8">
                <%= f.input :number_of_beds, label: false, error: 'Username is mandatory, please specify one', class: "form-control"  %>
              </div>
            </div>



            <div class="row">
              <div class='col'>
                <%= f.button :submit, value: "Je m'inscris", class: 'btn btn-success pull-right' %>
              </div>
            </div>
            <% end %>

          </div>
        </p>
        <a href="#" class="card-link">Comment ça marche ?</a>
        <a href="#" class="card-link">Mentions légales & vie privée</a>
      </div>
    </div>
  </div>
</div>


